<div class="contact ethossence-form cart-attributes">

   <div class="field">
      <textarea 
         id="attributes[Needs description]"
         name="attributes[Needs description]"
         class="field__input cart-attribute"
         placeholder="Please describe how you plan to use the products..."
         rows="5"
      >{{ cart.attributes['Needs description'] }}</textarea>
      <label class="field__label" for="attributes[Needs description]">Please describe project.<span aria-hidden="true">*</span></label>
      <div class="error-message" id="attributes[Needs description]error"></div>
   </div>

   <div class="field">
      <input 
         type="text"
         id="attributes[wc_machine_type]"
         name="attributes[wc_machine_type]"
         class="field__input cart-attribute"
         placeholder="e.g. Column and boom, tube mill, orbital, carriage, robot, etc."
         value="{{ cart.attributes['wc_machine_type'] }}"
      >
      <label class="field__label" for="attributes[wc_machine_type]">What is the type of machine?</label>
      <div class="field__text">e.g. Column and boom, tube mill, orbital, carriage, robot, etc.</div>
   </div>

   <div class="field">
      <input 
         type="text"
         id="attributes[wc_materials_welded]"
         name="attributes[wc_materials_welded]"
         class="field__input cart-attribute"
         placeholder="e.g. Steel, stainless steel, titanium, aluminum, alloys, etc."
         value="{{ cart.attributes['wc_materials_welded'] }}"
      >
      <label class="field__label" for="attributes[wc_materials_welded]">What material(s) will be welded?</label>
      <div class="field__text">e.g. Steel, stainless steel, titanium, aluminum, alloys, etc.</div>
   </div>

   <div class="field">
      <input 
         type="text"
         id="attributes[wc_materials_thickness]"
         name="attributes[wc_materials_thickness]"
         class="field__input cart-attribute"
         placeholder="Welding applications only, please indicate if inches or mm"
         value="{{ cart.attributes['wc_materials_thickness'] }}"
      >
      <label class="field__label" for="attributes[wc_materials_thickness]">What is the thickness of the material(s)?</label>
      <div class="field__text">Welding applications only, please indicate if inches or mm.</div>
   </div>

   <div class="field">
      <input 
         type="text"
         id="attributes[wc_shielding_gases]"
         name="attributes[wc_shielding_gases]"
         class="field__input cart-attribute"
         placeholder="e.g. argon, oxygen, CO2, etc."
         value="{{ cart.attributes['wc_shielding_gases'] }}"
      >
      <label class="field__label" for="attributes[wc_shielding_gases]">Which shielding gases are used?</label>
      <div class="field__text">e.g. argon, oxygen, CO2, etc.</div>
   </div>

   <div class="field">
      <input 
         type="text"
         id="attributes[wc_power_avg]"
         name="attributes[wc_power_avg]"
         class="field__input cart-attribute"
         placeholder="Please indicate amps/KW and if welding is pulsed"
         value="{{ cart.attributes['wc_power_avg'] }}"
      >
      <label class="field__label" for="attributes[wc_power_avg]">What is the average welding power?</label>
      <div class="field__text">Please indicate amps/KW and if welding is pulsed.</div>
   </div>

   <div class="field">
      <input 
         type="text"
         id="attributes[wc_power_peak]"
         name="attributes[wc_power_peak]"
         class="field__input cart-attribute"
         placeholder="Please indicate amps/KW and if welding is pulsed"
         value="{{ cart.attributes['wc_power_peak'] }}"
      >
      <label class="field__label" for="attributes[wc_power_peak]">What is the peak welding power?</label>
      <div class="field__text">Please indicate amps/KW and if welding is pulsed.</div>
   </div>

   <div class="field field--radio">
      <div>
         <legend class="field__legend">
            Will your process emit large amounts of spatter? <span aria-hidden="true">*</span>
         </legend>
      </div>      
      <div class="field__radio-group">
         <label class="field__radio">
            <input type="radio" name="attributes[wc_emit_spatter]" value="true" class="cart-attribute" 
                   {% if cart.attributes['wc_emit_spatter'] == 'true' %}checked{% endif %}>
            <span>Yes</span>
         </label>
         <label class="field__radio">
            <input type="radio" name="attributes[wc_emit_spatter]" value="false" class="cart-attribute" 
                   {% if cart.attributes['wc_emit_spatter'] == 'false' or cart.attributes['wc_emit_spatter'] == blank %}checked{% endif %}>
            <span>No</span>
         </label>
      </div>
   </div>

   <div class="field field--radio">
      <div>
         <legend class="field__legend">
            Will your process emit large amounts of metal vapor? <span aria-hidden="true">*</span>
         </legend>
      </div>
      <div class="field__radio-group">
         <label class="field__radio">
            <input type="radio" name="attributes[wc_emit_metal_vapor]" value="true" class="cart-attribute" 
                   {% if cart.attributes['wc_emit_metal_vapor'] == 'true' %}checked{% endif %}>
            <span>Yes</span>
         </label>
         <label class="field__radio">
            <input type="radio" name="attributes[wc_emit_metal_vapor]" value="false" class="cart-attribute" 
                   {% if cart.attributes['wc_emit_metal_vapor'] == 'false' or cart.attributes['wc_emit_metal_vapor'] == blank %}checked{% endif %}>
            <span>No</span>
         </label>
      </div>
   </div>

   <div class="field field--radio">
      <div>
         <legend class="field__legend">
            Is the material pre-heated? <span aria-hidden="true">*</span>
         </legend>
      </div>
      <div class="field__radio-group">
         <label class="field__radio">
            <input type="radio" name="attributes[wc_material_preheated]" value="true" class="cart-attribute" id="preheated-yes"
                   {% if cart.attributes['wc_material_preheated'] == 'true' %}checked{% endif %}>
            <span>Yes</span>
         </label>
         <label class="field__radio">
            <input type="radio" name="attributes[wc_material_preheated]" value="false" class="cart-attribute" id="preheated-no"
                   {% if cart.attributes['wc_material_preheated'] == 'false' or cart.attributes['wc_material_preheated'] == blank %}checked{% endif %}>
            <span>No</span>
         </label>
      </div>
   </div>

   <div class="field" id="preheated-temp-field" style="{% unless cart.attributes['wc_material_preheated'] == 'true' %}display: none;{% endunless %}">
      <input 
         type="text"
         id="attributes[wc_material_preheated_temp]"
         name="attributes[wc_material_preheated_temp]"
         class="field__input cart-attribute"
         placeholder="Please indicate Fahrenheit or Celsius"
         value="{{ cart.attributes['wc_material_preheated_temp'] }}"
      >
      <label class="field__label" for="attributes[wc_material_preheated_temp]">If so, to what temperature?</label>
      <div class="field__text">Please indicate Fahrenheit or Celsius.</div>
   </div>

   <div class="field">
      <input 
         type="text"
         id="attributes[wc_arc_on_item_avg]"
         name="attributes[wc_arc_on_item_avg]"
         class="field__input cart-attribute"
         placeholder="Weld time minutes"
         value="{{ cart.attributes['wc_arc_on_item_avg'] }}"
      >
      <label class="field__label" for="attributes[wc_arc_on_item_avg]">What is the average arc-on time?</label>
      <div class="field__text">Weld time minutes.</div>
   </div>

   <div class="field">
      <input 
         type="text"
         id="attributes[wc_traverse_speed]"
         name="attributes[wc_traverse_speed]"
         class="field__input cart-attribute"
         placeholder="Please indicate inch/mm or mm/min"
         value="{{ cart.attributes['wc_traverse_speed'] }}"
      >
      <label class="field__label" for="attributes[wc_traverse_speed]">What is the approximate traverse speed?</label>
      <div class="field__text">Please indicate inch/mm or mm/min.</div>
   </div>

   <div class="cart-save-draft" style="margin: 2rem 0; text-align: center;">
      <button id="save-cart-draft" type="button" class="button" data-customer-id="{{ customer.id }}" data-customer-email="{{ customer.email }}">
         {{ bth_submit_account |  default: 'Submit for Review' }}
      </button>
      <div id="save-cart-message" style="margin-top: 1rem; display: none;"></div>
   </div>

</div>