<!-- block-breadcrumbs \\\ START /// -->

{%- liquid

   assign pos_2 = 'n0ne'
   assign pos_3 = 'n0ne'
   assign pos_4 = 'n0ne'

   if template contains 'page' 

      for link in linklists[section.settings.menu].links
         if page.url == link.url  
            assign s_menu_links_exist = true 
            assign pos_1 = link.title  
            assign pos_1_url = link.url 
         endif 
         if link.links != blank
            for sub_link in link.links
               if page.url == sub_link.url
                  assign s_menu_links_exist = true
                  assign pos_1 = link.title
                  assign pos_1_url = link.url
                  assign pos_2 = sub_link.title
                  assign pos_2_url = sub_link.url 
               endif 
               if sub_link.links != blank 
                  for sub_sub_link in sub_link.links 
                     if page.url == sub_sub_link.url
                        assign s_menu_links_exist = true
                        assign pos_1 = link.title
                        assign pos_1_url = link.url
                        assign pos_2 = sub_link.title
                        assign pos_2_url = sub_link.url
                        assign pos_3 = sub_sub_link.title
                        assign pos_3_url = sub_sub_link.url 
                     endif 
                  endfor    
               endif 
            endfor 
         endif 
      endfor 

      if page.url contains 'contact-us'
         assign pos_1 = section.settings.label_contact
         assign pos_1_url = '' 
         assign pos_2 = ''
         assign pos_2_url = '' 
      else 
         unless s_menu_links_exist 
            assign pos_1 = page.title   
            assign pos_1_url = page.url 
         endunless 
      endif 
 

   elsif blog.url contains 'blog' or article.url contains 'blog' 

      if blog.handle == ''
         assign pos_1 = ''
         assign pos_1_url = ''
         assign pos_2 = ''
         assign pos_2_url = ''
      else
         assign pos_1 = blog.title
         assign pos_1_url = blog.url

         if article.title != ''
            if article.metafields.iqx.article_header != blank
               assign pos_2 = article.metafields.iqx.article_header
            else
               assign pos_2 = article.title
            endif
            assign pos_2_url = article.url
         elsif current_tags.size > 0
            assign pos_2 = current_tags.first
            assign tag_handle = current_tags.first | handleize
            assign pos_2_url = blog.url | append: '/tagged/' | append: tag_handle
         else
            assign pos_2_url = ''
         endif
      endif

   elsif template contains 'list-collection' 

      assign pos_1 = section.settings.label_collections

   elsif template contains 'collection'

      assign pos_1 = section.settings.label_collections   
      assign pos_1_url = '/collections/'    

      if collection.metafields.iqx.collection_header != blank  
         assign pos_2 = collection.metafields.iqx.collection_header 
      else  
         assign pos_2 = collection.title 
      endif 

      assign pos_2_url = collection.url      

   elsif template contains 'product' 

      if product.collections.size > 0
         assign pos_1 = product.collections.first.title
         assign pos_1_url = product.collections.first.url
      else
         assign pos_1 = section.settings.label_products
         assign pos_1_url = '/collections/all'
      endif 

      if product.metafields.iqx.product_header != blank  
         assign pos_2 = product.metafields.iqx.product_header 
      else  
         assign pos_2 = product.title 
      endif 
      
      assign pos_2_url = product.url 

   elsif template contains 'cart'   

      assign pos_1 = section.settings.label_cart
      assign pos_1_url = '/cart'  

   elsif template contains 'search'   

      assign pos_1 = section.settings.label_search
      assign pos_1_url = '/search'   

   elsif template contains 'customers'   

      assign pos_1 = section.settings.label_portal

      if template contains 'login'
      assign pos_1 = section.settings.label_login

      elsif template contains 'order-list'
      assign pos_1 = section.settings.label_order_list

      elsif template contains 'order'
      assign pos_1 = section.settings.label_order

      elsif template contains 'password'
      assign pos_1 = section.settings.label_password 

      endif 

   endif

-%}

{%- style -%}

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .breadcrumbs li {
    display: flex;
    align-items: center;
  }

  .breadcrumbs li:not(:last-child)::after {
    content: "›";
    margin: 0 0.8rem;
    color: rgba(var(--color-foreground), 0.5);
    font-size: 1.4rem;
  }

  .breadcrumbs a {
    color: rgb(var(--color-foreground));
    text-decoration: none;
  }

  .breadcrumbs a:hover {
    text-decoration: underline;
  }

  .breadcrumbs li:last-child span {
    color: rgba(var(--color-foreground), 0.75);
  }
{%- endstyle -%}

{%- liquid
   comment
      Clean position labels by removing sort-order prefixes (e.g. "A] ", "1] ")
      used for menu item ordering in Shopify admin, then truncate to 74 characters.
   endcomment
   assign pos_1_clean = pos_1 | remove: 'A] ' | remove: 'B] ' | remove: 'C] ' | remove: 'D] ' | remove: '1] ' | remove: '2] ' | remove: '3] ' | remove: '4] ' | remove: '5] ' | remove: '6] ' | remove: '7] ' | remove: '8] ' | remove: '9] ' | remove: '10] ' | truncate: 74
   assign pos_2_clean = pos_2 | remove: 'A] ' | remove: 'B] ' | remove: 'C] ' | remove: 'D] ' | remove: '1] ' | remove: '2] ' | remove: '3] ' | remove: '4] ' | remove: '5] ' | remove: '6] ' | remove: '7] ' | remove: '8] ' | remove: '9] ' | remove: '10] ' | truncate: 74
   assign pos_3_clean = pos_3 | remove: 'A] ' | remove: 'B] ' | remove: 'C] ' | remove: 'D] ' | remove: '1] ' | remove: '2] ' | remove: '3] ' | remove: '4] ' | remove: '5] ' | remove: '6] ' | remove: '7] ' | remove: '8] ' | remove: '9] ' | remove: '10] ' | truncate: 74
   assign pos_4_clean = pos_4 | remove: 'A] ' | remove: 'B] ' | remove: 'C] ' | remove: 'D] ' | remove: '1] ' | remove: '2] ' | remove: '3] ' | remove: '4] ' | remove: '5] ' | remove: '6] ' | remove: '7] ' | remove: '8] ' | remove: '9] ' | remove: '10] ' | truncate: 74
-%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div id="block-breadcrumbs" class="{% unless section.settings.full_width %}page-width {% endunless %}section-{{ section.id }}-padding isolate">
   <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs" vocab="https://schema.org/" typeof="BreadcrumbList">

         <li property="itemListElement" typeof="ListItem">
            <a property="item" typeof="WebPage" href="/"><span property="name">Home</span></a>
            <meta property="position" content="1">
         </li>

         <li property="itemListElement" typeof="ListItem">
            {%- if pos_2 != 'n0ne'-%}
               <a property="item" typeof="WebPage" href="{{ pos_1_url }}">
            {%- endif -%}
            <span property="name">{{ pos_1_clean }}</span>
            {%- if pos_2 != 'n0ne'-%}
               </a>
            {%- endif -%}
            <meta property="position" content="2">
         </li>

         {%- if pos_2 != 'n0ne'-%}
            <li property="itemListElement" typeof="ListItem">
               {%- if pos_3 != 'n0ne'-%}
                  <a property="item" typeof="WebPage" href="{{ pos_2_url }}">
               {%- endif -%}
                  <span property="name">{{ pos_2_clean }}</span>
               {%- if pos_3 != 'n0ne'-%}
                  </a>
               {%- endif -%}
               <meta property="position" content="3">
            </li>
         {%- endif -%}

         {%- if pos_3 != 'n0ne'-%}
            <li property="itemListElement" typeof="ListItem">
               {%- if pos_3_url != 'n0ne'-%}
                  <a property="item" typeof="WebPage" href="{{ pos_3_url }}">
               {%- endif -%}
               <span property="name">{{ pos_3_clean }}</span>
               {%- if pos_3_url != 'n0ne'-%}
                  </a>
               {%- endif -%}
               <meta property="position" content="4">
            </li>
         {%- endif -%}

         {%- if pos_4 != 'n0ne'-%}
            <li property="itemListElement" typeof="ListItem">
               <span property="name">{{ pos_4_clean }}</span>
               <meta property="position" content="5">
            </li>
         {%- endif -%}

      </ul>
   </nav>
  </div>
</div>
<!-- block-breadcrumbs /// END \\\ --> 

{% schema %}
{
  "name": "Breadcrumbs",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Navigation menu"
    },
    {
      "type": "header",
      "content": "Labels"
    },
    {
      "type": "text",
      "id": "label_collections",
      "default": "Collections",
      "label": "Collections"
    },
    {
      "type": "text",
      "id": "label_products",
      "default": "Products",
      "label": "Products"
    },
    {
      "type": "text",
      "id": "label_cart",
      "default": "Cart",
      "label": "Cart"
    },
    {
      "type": "text",
      "id": "label_search",
      "default": "Search",
      "label": "Search"
    },
    {
      "type": "text",
      "id": "label_contact",
      "default": "Contact us",
      "label": "Contact us"
    },
    {
      "type": "text",
      "id": "label_portal",
      "default": "Portal",
      "label": "Customer portal"
    },
    {
      "type": "text",
      "id": "label_login",
      "default": "Login",
      "label": "Login"
    },
    {
      "type": "text",
      "id": "label_order_list",
      "default": "Order list",
      "label": "Order list"
    },
    {
      "type": "text",
      "id": "label_order",
      "default": "Order",
      "label": "Order"
    },
    {
      "type": "text",
      "id": "label_password",
      "default": "Password",
      "label": "Password"
    },
    {
      "type": "header",
      "content": "Appearance"
    },    
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "Breadcrumbs",
      "category": "Ethossence"
    }
  ]
}
{% endschema %}