{%- comment -%}
  ETHOSSENCE Ask a Question SECTION
{%- endcomment -%}

{{ 'ethossence-ask-question.css' | asset_url | stylesheet_tag }}

{%- style -%}
  /* Section Padding - Requires Liquid variables */
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div class="rich-text content-container color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
    <div class="rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}">
      <div class="rich-text__blocks {{ section.settings.content_alignment }}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2
                class="rich-text__heading rte inline-richtext {{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.heading }}
              </h2>
            {%- when 'caption' -%}
              <p
                class="rich-text__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.caption | escape }}
              </p>
            {%- when 'text' -%}
              <div
                class="rich-text__text rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.text }}
              </div>
            {%- when 'form' -%}
              <div
                class="ask-question__form-wrapper{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                data-ask-question-section="{{ section.id }}"
                data-webhook-url="{{ block.settings.webhook_url }}"
                data-success-message="{{ block.settings.success_message | escape }}"
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {%- form 'contact', id: 'AskQuestionForm', class: 'ask-question__form' -%}
                  {%- if form.posted_successfully? -%}
                    <p class="ask-question__success" tabindex="-1" autofocus>
                      {{ block.settings.success_message }}
                    </p>
                  {%- endif -%}

                  {%- if form.errors -%}
                    <div class="ask-question__errors">
                      {{ form.errors | default_errors }}
                    </div>
                  {%- endif -%}

                  <div class="ask-question__required-inputs">
                    <div class="field">
                      <input
                        type="email"
                        id="AskQuestionEmail-{{ section.id }}"
                        name="contact[email]"
                        class="field__input"
                        placeholder="{{ block.settings.email_label }}"
                        required
                        autocomplete="email"
                        {% if customer %}value="{{ customer.email }}"{% endif %}
                      >
                      <label for="AskQuestionEmail-{{ section.id }}" class="field__label">
                        {{ block.settings.email_label }}
                      </label>
                    </div>

                    <div class="field">
                      <textarea
                        id="AskQuestionBody-{{ section.id }}"
                        name="contact[body]"
                        class="field__input text-area"
                        placeholder="{{ block.settings.question_label }}"
                        rows="1"
                        required
                      ></textarea>
                      <label for="AskQuestionBody-{{ section.id }}" class="field__label">
                        {{ block.settings.question_label }}
                      </label>
                    </div>
                  </div>

                  <div class="ask-question__footer">
                    <div class="ask-question__request-callback">
                      <div class="ask-question__checkbox-wrapper">
                        <input
                          type="checkbox"
                          id="AskQuestionCallback-{{ section.id }}"
                          name="contact[Callback Requested]"
                          value="Yes"
                          class="ask-question__checkbox"
                          data-ask-question-callback="{{ section.id }}"
                        >
                        <label for="AskQuestionCallback-{{ section.id }}" class="ask-question__checkbox-label">
                          {{ block.settings.callback_label }}
                        </label>
                      </div>

                      <div class="ask-question__callback-details" id="AskQuestionCallbackDetails-{{ section.id }}" hidden>
                        <div class="field">
                          <input
                            type="text"
                            id="AskQuestionName-{{ section.id }}"
                            name="contact[Full Name]"
                            class="field__input"
                            placeholder="{{ block.settings.name_label }}"
                            autocomplete="name"
                          >
                          <label for="AskQuestionName-{{ section.id }}" class="field__label">
                            {{ block.settings.name_label }}
                          </label>
                        </div>
                        <div class="field">
                          <input
                            type="tel"
                            id="AskQuestionPhoneInput-{{ section.id }}"
                            name="contact[Phone Number]"
                            class="field__input"
                            placeholder="{{ block.settings.phone_label }}"
                            autocomplete="tel"
                          >
                          <label for="AskQuestionPhoneInput-{{ section.id }}" class="field__label">
                            {{ block.settings.phone_label }}
                          </label>
                        </div>
                        <div class="field">
                          <select
                            id="AskQuestionTimezone-{{ section.id }}"
                            name="contact[Time Zone]"
                            class="field__input ask-question__timezone-select"
                          >
                            <option value="" disabled selected>{{ block.settings.timezone_label }}</option>
                            <option value="UTC-12:00">(UTC-12:00) Baker Island</option>
                            <option value="UTC-11:00">(UTC-11:00) Pago Pago</option>
                            <option value="UTC-10:00">(UTC-10:00) Honolulu</option>
                            <option value="UTC-09:00">(UTC-09:00) Anchorage</option>
                            <option value="UTC-08:00">(UTC-08:00) Los Angeles</option>
                            <option value="UTC-07:00">(UTC-07:00) Denver</option>
                            <option value="UTC-06:00">(UTC-06:00) Chicago</option>
                            <option value="UTC-05:00">(UTC-05:00) New York</option>
                            <option value="UTC-04:00">(UTC-04:00) Halifax</option>
                            <option value="UTC-03:00">(UTC-03:00) Buenos Aires</option>
                            <option value="UTC-02:00">(UTC-02:00) Mid-Atlantic</option>
                            <option value="UTC-01:00">(UTC-01:00) Azores</option>
                            <option value="UTC+00:00">(UTC+00:00) London</option>
                            <option value="UTC+01:00">(UTC+01:00) Paris</option>
                            <option value="UTC+02:00">(UTC+02:00) Cairo</option>
                            <option value="UTC+03:00">(UTC+03:00) Moscow</option>
                            <option value="UTC+04:00">(UTC+04:00) Dubai</option>
                            <option value="UTC+05:00">(UTC+05:00) Karachi</option>
                            <option value="UTC+05:30">(UTC+05:30) Mumbai</option>
                            <option value="UTC+06:00">(UTC+06:00) Dhaka</option>
                            <option value="UTC+07:00">(UTC+07:00) Bangkok</option>
                            <option value="UTC+08:00">(UTC+08:00) Singapore</option>
                            <option value="UTC+09:00">(UTC+09:00) Tokyo</option>
                            <option value="UTC+09:30">(UTC+09:30) Adelaide</option>
                            <option value="UTC+10:00">(UTC+10:00) Sydney</option>
                            <option value="UTC+11:00">(UTC+11:00) Noumea</option>
                            <option value="UTC+12:00">(UTC+12:00) Auckland</option>
                          </select>
                          <label for="AskQuestionTimezone-{{ section.id }}" class="field__label">
                            {{ block.settings.timezone_label }}
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="ask-question__submit-button">
                      <button type="submit" class="button">
                        {{ block.settings.button_label }}
                      </button>
                    </div>
                  </div>
                {%- endform -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

<script src="{{ 'ethossence-ask-question.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Ask a question",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.content_alignment.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 3,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.rich-text.blocks.heading.settings.heading.default",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.rich-text.blocks.caption.name",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "t:sections.rich-text.blocks.caption.settings.text.default",
          "label": "t:sections.rich-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.rich-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.rich-text.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.rich-text.blocks.text.settings.text.default",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        }
      ]
    },   
    {
      "type": "form",
      "name": "Question form",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "webhook_url",
          "label": "Make webhook URL",
          "info": "Paste the webhook URL from your Make scenario. Form data is sent as JSON."
        },
        {
          "type": "text",
          "id": "name_label",
          "default": "Full name",
          "label": "Name field label"
        },
        {
          "type": "text",
          "id": "email_label",
          "default": "Email",
          "label": "Email field label"
        },
        {
          "type": "text",
          "id": "question_label",
          "default": "Your question",
          "label": "Question field label"
        },
        {
          "type": "text",
          "id": "callback_label",
          "default": "Please call me to discuss my question in more detail",
          "label": "Callback checkbox label"
        },
        {
          "type": "text",
          "id": "phone_label",
          "default": "Phone number",
          "label": "Phone field label"
        },
        {
          "type": "text",
          "id": "timezone_label",
          "default": "Time zone",
          "label": "Time zone field label"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Submit",
          "label": "Button label"
        },
        {
          "type": "text",
          "id": "success_message",
          "default": "Thank you for your question. We'll get back to you shortly.",
          "label": "Success message"
        }
      ]
    }  
   ],
  "presets": [
    {
      "name": "Ask a question",
      "category": "Ethossence",
      "blocks": [
        { "type": "heading" },
        { "type": "text" },
        { "type": "form" }
      ]
    }
  ]
}
{% endschema %}