{% comment %}
  Renders ...

  Accepts:


  Usage:
  {% render 'ethossence-specs-rows' %}
{% endcomment %}

{% style %} 

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
      display: block;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }

    .ethossence-specs-rows-list .grid {
        padding: 0 1em;
        margin: 0;
    }

    .ethossence-specs-rows-list .background-secondary {
        border-radius: .74em
    }
    
{% endstyle %}


<specification-rows
  id="SpecRows-{{ section.id }}"
  class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}"
  data-section="{{ section.id }}"
>
    <div class="page-width">

        <div class="multicolumn__header">
            <h2 class="multicolumn__title">{{ section.settings.title }}</h2>
        </div>

        {% if product.metafields.ethossence.specs %}
            {% assign spec_rows = product.metafields.ethossence.specs.value %}
            <div class="ethossence-specs-rows-list">
                {% for spec_row in spec_rows %}
                    {% assign row_modulo = forloop.index0 | modulo: 2  %}
                    <div class="grid grid--2-col {% if row_modulo == 1 %} background-secondary {% endif %}">
                        <div class="grid__item">
                        <p>{{ spec_row.label }}</p>
                        </div>
                        <div class="grid__item">
                            {{ spec_row.spec | metafield_tag }}
                        </div>
                    </div>
                {% endfor %}
            </div>

        {% endif %}
        
    </div>

</specification-rows>



{% schema %}
{
    "name": "Specification rows",
    "limit": 1,
    "enabled_on": {
        "templates": ["product"]
    },
    "settings": [   
        {
            "type": "text",
            "id": "title",
            "default": "Specifications",         
            "label": "Header"
        },
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "t:sections.all.colors.label",
            "default": "scheme-1"
        },
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 36
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 36
        }
    ],
    "presets": [
        {
            "name": "Specifications",
            "category": "Content"
        }
    ]
}
{% endschema %}