{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width section-{{ section.id }}-padding">

      <div class="contatct-page-content">
         {%- if section.settings.title != blank -%}
            <h2 class="contact__heading inline-richtext {{ section.settings.heading_size }}">
               {{ section.settings.title }}
            </h2>
         {%- endif -%}
         {%- if section.settings.description != blank -%}
            <div class="contact__description rte">
               {{ section.settings.description | metafield_tag }}
            </div>
         {%- endif -%}
            
      </div>

      <div class="contact-info">

         {%- assign headers_style_pre = section.settings.contact_header_treatment | prepend: '<' | append: '>' -%}
         {%- assign headers_style_post = section.settings.contact_header_treatment | prepend: '</' | append: '>' -%}

         {%- for block in section.blocks -%}

            {%- case block.type -%}

               {%- when 'phone' -%}
                  <!-- PHONE -->
                  <div id="contact-phone" class="margin-element">
                     <hr />
                     <div class="{{ block.settings.contact_header_align }}">
                        {{ block.settings.phone_header | prepend: headers_style_pre | append: headers_style_post }}
                     </div>
                     <div class="{{ block.settings.contact_text_align }}">
                        <div>{{ block.settings.s_phone_text }}</div>
                        <div>{{ shop.address.phone }}</div>
                     </div>                                  
                  </div>
                  
               {%- when 'email' -%}
                  <!-- EMAIL -->
                  <div id="contact-email" class="margin-element">
                     <hr />
                     <div class="{{ block.settings.contact_header_align }}">
                        {{ block.settings.email_header | prepend: headers_style_pre | append: headers_style_post }}
                     </div>
                     <div class="{{ block.settings.contact_text_align }}">
                        <div>{{ block.settings.email_text }}</div>
                        <div>{{ shop.address.email }}</div>
                     </div>                                  
                  </div>

               {%- when 'address' -%}
                  <!-- ADDRESS -->
                  <div id="contact-address" class="margin-element">
                     <hr />
                     <div class="{{ block.settings.contact_header_align }}">
                        {{ block.settings.address_header | prepend: headers_style_pre | append: headers_style_post }}
                     </div>
                     <div class="{{ block.settings.contact_text_align }}">
                        {% if block.settings.address_include != blank %}
                           <div>{{ block.settings.address_text }}</div>    
                           <div>
                              <strong>{{ shop.name }}</strong><br />
                              {{ shop.address.street }}<br />
                              {{ shop.address.city }}, {{ shop.address.province_code }} {{ shop.address.zip }}<br />
                              {{ shop.address.country }}
                           </div>
                        {% endif %}
                     </div>   
                  </div>

               {%- when 'social' -%}
                  <!-- SOCIAL -->
                  <div id="contact-social" class="margin-element">
                     <hr />
                     <div class="{{ block.settings.contact_header_align }}">
                        {{ block.settings.social_header | prepend: headers_style_pre | append: headers_style_post }}
                     </div>
                     <div class="{{ block.settings.contact_text_align }}">
                        <div>{{ block.settings.social_text }}</div>    
                        <div>
                           {%- render 'social-icons', class: 'contact__list-social' -%}
                        </div>
                     </div>   
                  </div>

               {%- when 'newsletter' -%}
                  <!-- NEWSLETTER -->
                  <div id="contact-newsletter" class="margin-element">
                     <hr />
                     <div class="{{ block.settings.contact_header_align }}">
                        {{ block.settings.newsletter_header | prepend: headers_style_pre | append: headers_style_post }}
                     </div>
                     <div class="{{ block.settings.contact_text_align }}">
                        <div>{{ block.settings.newsletter_text }}</div>    
                        <div>
                           {%- render 'ethossence-block-newsletter', 
                              section_id: section.id 
                           -%}  
                        </div>
                     </div>   
                  </div>

            {%- endcase -%}

         {% endfor %}

      </div>

  </div>
</div>

{% schema %}
   {
   "name": "Contact",
   "tag": "section",
   "class": "section",
   "disabled_on": {
      "groups": ["header", "footer"]
   },
   "settings": [
      {
         "type": "page",
         "id": "page",
         "label": "t:sections.page.settings.page.label"
      },
      {
         "type": "checkbox",
         "id": "heading_hide",
         "default": false,
         "label": "Hide page title"
      },    
      {
         "type": "select",
         "id": "heading_size",
         "options": [
            {
               "value": "h2",
               "label": "t:sections.all.heading_size.options__1.label"
            },
            {
               "value": "h1",
               "label": "t:sections.all.heading_size.options__2.label"
            },
            {
               "value": "h0",
               "label": "t:sections.all.heading_size.options__3.label"
            },
            {
               "value": "hxl",
               "label": "t:sections.all.heading_size.options__4.label"
            },
            {
               "value": "hxxl",
               "label": "t:sections.all.heading_size.options__5.label"
            }
         ],
         "default": "h1",
         "label": "t:sections.all.heading_size.label"
      },
      {
         "type": "color_scheme",
         "id": "color_scheme",
         "label": "t:sections.all.colors.label",
         "default": "scheme-1"
      },
      {
         "type": "header",
         "content": "t:sections.all.padding.section_padding_heading"
      },
      {
         "type": "range",
         "id": "padding_top",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "t:sections.all.padding.padding_top",
         "default": 36
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "t:sections.all.padding.padding_bottom",
         "default": 36
      }
   ],
   "blocks": [

      {
         "type": "contact_connect",
         "name": "Form and connect info",
         "settings":
         [
            {
               "type": "header",
               "content": "Layout"
            },
            {
               "id": "contact_header_treatment",
               "type": "select",
               "label": "Treatment for headers",
               "options":
                  [
                     {
                        "value": "<regular>",
                        "label": "Regular"
                     },
                     {
                        "value": "<H1>",
                        "label": "Header 1 (H1)"
                     },
                     {
                        "value": "<H2>",
                        "label": "Header 2 (H2)"
                     },
                     {
                        "value": "<H3>",
                        "label": "Header 3 (H3)"
                     },
                     {
                        "value": "<H4>",
                        "label": "Header 4 (H4)"
                     },
                     {
                        "value": "<H5>",
                        "label": "Header 5 (H5)"
                     },
                     {
                        "value": "<H6>",
                        "label": "Header 6 (H6)"
                     },
                     {
                        "value": "<small>",
                        "label": "Small"
                     }
                  ],
               "default": "<H2>"
            },

            {
               "id": "contact_header_align",
               "type": "select",
               "label": "Alignment for headers",
               "options":
                  [
                     { "value": "text-left", "label": "Left"},
                     { "value": "text-center", "label": "Center"},
                     { "value": "text-right", "label": "Right"}
                  ],
               "default": "text-left"
            },
            {
               "id": "contact_textarea_align",
               "type": "select",
               "label": "Alignment for textareas",
               "options":
                  [
                     { "value": "text-left", "label": "Left"},
                     { "value": "text-center", "label": "Center"},
                     { "value": "text-right", "label": "Right"}
                  ],
               "default": "text-left"
            },
            {
               "type": "header",
               "content": "Form header"
            },
            {
               "id": "form_header",
               "type": "text",
               "label": "Contact form header"
            },
            {
               "id": "form_txt",
               "type": "textarea",
               "label": "Contact form textarea"
            },

            {
               "type": "header",
               "content": "Phone"
            },
            {
               "id": "phone_include",
               "type": "checkbox",
               "label": "Include phone element",
               "default": false
            },                       
            {
               "id": "phone_header",
               "type": "text",
               "label": "Phone header"
            },
            {
               "id": "phone_txt",
               "type": "textarea",
               "label": "Phone textarea"
            },
            {
               "id": "phone_include",
               "type": "checkbox",
               "label": "Include account phone number",
               "default": true,
               "info": "Phone will display below textarea"
            },

            {
               "type": "header",
               "content": "Email"
            },
            {
               "id": "email_include",
               "type": "checkbox",
               "label": "Include email element",
               "default": false
            },                       
            {
               "id": "email_header",
               "type": "text",
               "label": "Email header"
            },
            {
               "id": "email_txt",
               "type": "textarea",
               "label": "Email textarea"
            },           
            {
               "id": "email_include",
               "type": "checkbox",
               "label": "Include account phone number",
               "default": true,
               "info": "Shop email will display below textarea"
            }, 

            {
               "type": "header",
               "content": "Address"
            },
            {
               "id": "address_include",
               "type": "checkbox",
               "label": "Include address element",
               "default": false
            },                     
            {
               "id": "address_header",
               "type": "text",
               "label": "Address header"
            },
            {
               "id": "address_txt",
               "type": "textarea",
               "label": "Address textarea"
            },
            {
               "id": "address_include",
               "type": "checkbox",
               "label": "Include account address",
               "default": true,
               "info": "Address will display below textarea"
            },

            {
               "type": "header",
               "content": "Newsletter"
            },
            {
               "id": "newsletter_include",
               "type": "checkbox",
               "label": "Include newsletter element",
               "default": false
            },                    
            {
               "id": "newsletter_header",
               "type": "text",
               "label": "Newsletter header"
            },
            {
               "id": "newsletter_txt",
               "type": "textarea",
               "label": "Newsletter textarea"
            },
            {
               "id": "newsletter_link",
               "type": "text",
               "label": "Newsletter link"
            },
            {
               "id": "newsletter_link_label",
               "type": "text",
               "label": "Newsletter label"
            },

            {
               "type": "header",
               "content": "Social media"
            },
            {
               "id": "social_include",
               "type": "checkbox",
               "label": "Include social media element",
               "default": false
            },                     
            {
               "id": "social_header",
               "type": "text",
               "label": "Social header"
            },
            {
               "id": "social_txt",
               "type": "textarea",
               "label": "Social textarea"
            },
            {
               "id": "social_size",
               "type": "range",
               "label": "Icon size",
               "min": 5,
               "max": 50,
               "step": 1,
               "default": 30
            },           
            {
               "id": "social_1",
               "type": "select",
               "label": "Platform link 1",
               "options":
                  [ 
                     {
                        "value": "none",
                        "label": "none"
                     },
                     {
                        "value": "facebook",
                        "label": "Facebook"
                     }, 
                     {
                        "value": "google_business_places",
                        "label": "Google Business Places"
                     }, 
                     {
                        "value": "instagram",
                        "label": "Instagram"
                     }, 
                     {
                        "value": "linkedin",
                        "label": "LinkedIn"
                     },
                     {
                        "value": "pinterest",
                        "label": "Pinterest"
                     },
                     {
                        "value": "snapchat",
                        "label": "Snapchat"
                     },                
                     {
                        "value": "tiktok",
                        "label": "TikTok"
                     },                 
                     {
                        "value": "twitter",
                        "label": "Twitter"
                     }, 
                     {
                        "value": "yelp",
                        "label": "Yelp"
                     }, 
                     {
                        "value": "youtube",
                        "label": "YouTube"
                     }, 
                     {
                        "value": "whatsapp",
                        "label": "WhatsApp"
                     }  
                  ],
               "default": "none"
            },
            {
               "id": "social_2",
               "type": "select",
               "label": "Platform link 2",
               "options":
                  [ 
                     {
                        "value": "none",
                        "label": "none"
                     },
                     {
                        "value": "facebook",
                        "label": "Facebook"
                     }, 
                     {
                        "value": "google_business_places",
                        "label": "Google Business Places"
                     }, 
                     {
                        "value": "instagram",
                        "label": "Instagram"
                     }, 
                     {
                        "value": "linkedin",
                        "label": "LinkedIn"
                     },
                     {
                        "value": "pinterest",
                        "label": "Pinterest"
                     },
                     {
                        "value": "snapchat",
                        "label": "Snapchat"
                     },                
                     {
                        "value": "tiktok",
                        "label": "TikTok"
                     },                 
                     {
                        "value": "twitter",
                        "label": "Twitter"
                     }, 
                     {
                        "value": "yelp",
                        "label": "Yelp"
                     }, 
                     {
                        "value": "youtube",
                        "label": "YouTube"
                     }, 
                     {
                        "value": "whatsapp",
                        "label": "WhatsApp"
                     }  
                  ],
               "default": "none"
            },
            {
               "id": "social_3",
               "type": "select",
               "label": "Platform link 3",
               "options":
                  [ 
                     {
                        "value": "none",
                        "label": "none"
                     },
                     {
                        "value": "facebook",
                        "label": "Facebook"
                     }, 
                     {
                        "value": "google_business_places",
                        "label": "Google Business Places"
                     }, 
                     {
                        "value": "instagram",
                        "label": "Instagram"
                     }, 
                     {
                        "value": "linkedin",
                        "label": "LinkedIn"
                     },
                     {
                        "value": "pinterest",
                        "label": "Pinterest"
                     },
                     {
                        "value": "snapchat",
                        "label": "Snapchat"
                     },                
                     {
                        "value": "tiktok",
                        "label": "TikTok"
                     },                 
                     {
                        "value": "twitter",
                        "label": "Twitter"
                     }, 
                     {
                        "value": "yelp",
                        "label": "Yelp"
                     }, 
                     {
                        "value": "youtube",
                        "label": "YouTube"
                     }, 
                     {
                        "value": "whatsapp",
                        "label": "WhatsApp"
                     }  
                  ],
               "default": "none"
            },
            {
               "id": "social_4",
               "type": "select",
               "label": "Platform link 4",
               "options":
                  [ 
                     {
                        "value": "none",
                        "label": "none"
                     },
                     {
                        "value": "facebook",
                        "label": "Facebook"
                     }, 
                     {
                        "value": "google_business_places",
                        "label": "Google Business Places"
                     }, 
                     {
                        "value": "instagram",
                        "label": "Instagram"
                     }, 
                     {
                        "value": "linkedin",
                        "label": "LinkedIn"
                     },
                     {
                        "value": "pinterest",
                        "label": "Pinterest"
                     },
                     {
                        "value": "snapchat",
                        "label": "Snapchat"
                     },                
                     {
                        "value": "tiktok",
                        "label": "TikTok"
                     },                 
                     {
                        "value": "twitter",
                        "label": "Twitter"
                     }, 
                     {
                        "value": "yelp",
                        "label": "Yelp"
                     }, 
                     {
                        "value": "youtube",
                        "label": "YouTube"
                     }, 
                     {
                        "value": "whatsapp",
                        "label": "WhatsApp"
                     }  
                  ],
               "default": "none"
            },
            {
               "id": "social_5",
               "type": "select",
               "label": "Platform link 5",
               "options":
                  [ 
                     {
                        "value": "none",
                        "label": "none"
                     },
                     {
                        "value": "facebook",
                        "label": "Facebook"
                     }, 
                     {
                        "value": "google_business_places",
                        "label": "Google Business Places"
                     }, 
                     {
                        "value": "instagram",
                        "label": "Instagram"
                     }, 
                     {
                        "value": "linkedin",
                        "label": "LinkedIn"
                     },
                     {
                        "value": "pinterest",
                        "label": "Pinterest"
                     },
                     {
                        "value": "snapchat",
                        "label": "Snapchat"
                     },                
                     {
                        "value": "tiktok",
                        "label": "TikTok"
                     },                 
                     {
                        "value": "twitter",
                        "label": "Twitter"
                     }, 
                     {
                        "value": "yelp",
                        "label": "Yelp"
                     }, 
                     {
                        "value": "youtube",
                        "label": "YouTube"
                     }, 
                     {
                        "value": "whatsapp",
                        "label": "WhatsApp"
                     }  
                  ],
               "default": "none"
            },
            {
               "id": "social_6",
               "type": "select",
               "label": "Platform link 6",
               "options":
                  [ 
                     {
                        "value": "none",
                        "label": "none"
                     },
                     {
                        "value": "facebook",
                        "label": "Facebook"
                     }, 
                     {
                        "value": "google_business_places",
                        "label": "Google Business Places"
                     }, 
                     {
                        "value": "instagram",
                        "label": "Instagram"
                     }, 
                     {
                        "value": "linkedin",
                        "label": "LinkedIn"
                     },
                     {
                        "value": "pinterest",
                        "label": "Pinterest"
                     },
                     {
                        "value": "snapchat",
                        "label": "Snapchat"
                     },                
                     {
                        "value": "tiktok",
                        "label": "TikTok"
                     },                 
                     {
                        "value": "twitter",
                        "label": "Twitter"
                     }, 
                     {
                        "value": "yelp",
                        "label": "Yelp"
                     }, 
                     {
                        "value": "youtube",
                        "label": "YouTube"
                     }, 
                     {
                        "value": "whatsapp",
                        "label": "WhatsApp"
                     }  
                  ],
               "default": "none"
            },
            {
               "id": "social_7",
               "type": "select",
               "label": "Platform link 7",
               "options":
                  [ 
                     {
                        "value": "none",
                        "label": "none"
                     },
                     {
                        "value": "facebook",
                        "label": "Facebook"
                     }, 
                     {
                        "value": "google_business_places",
                        "label": "Google Business Places"
                     }, 
                     {
                        "value": "instagram",
                        "label": "Instagram"
                     }, 
                     {
                        "value": "linkedin",
                        "label": "LinkedIn"
                     },
                     {
                        "value": "pinterest",
                        "label": "Pinterest"
                     },
                     {
                        "value": "snapchat",
                        "label": "Snapchat"
                     },                
                     {
                        "value": "tiktok",
                        "label": "TikTok"
                     },                 
                     {
                        "value": "twitter",
                        "label": "Twitter"
                     }, 
                     {
                        "value": "yelp",
                        "label": "Yelp"
                     }, 
                     {
                        "value": "youtube",
                        "label": "YouTube"
                     }, 
                     {
                        "value": "whatsapp",
                        "label": "WhatsApp"
                     }  
                  ],
               "default": "none"
            },
            {
               "id": "social_8",
               "type": "select",
               "label": "Platform link 8",
               "options":
                  [ 
                     {
                        "value": "none",
                        "label": "none"
                     },
                     {
                        "value": "facebook",
                        "label": "Facebook"
                     }, 
                     {
                        "value": "google_business_places",
                        "label": "Google Business Places"
                     }, 
                     {
                        "value": "instagram",
                        "label": "Instagram"
                     }, 
                     {
                        "value": "linkedin",
                        "label": "LinkedIn"
                     },
                     {
                        "value": "pinterest",
                        "label": "Pinterest"
                     },
                     {
                        "value": "snapchat",
                        "label": "Snapchat"
                     },                
                     {
                        "value": "tiktok",
                        "label": "TikTok"
                     },                 
                     {
                        "value": "twitter",
                        "label": "Twitter"
                     }, 
                     {
                        "value": "yelp",
                        "label": "Yelp"
                     }, 
                     {
                        "value": "youtube",
                        "label": "YouTube"
                     }, 
                     {
                        "value": "whatsapp",
                        "label": "WhatsApp"
                     }  
                  ],
               "default": "none"
            }
         ]
      }   
   
   ],
   "presets": [
      {
         "name": "t:sections.page.presets.name"
      }
   ]
}
{% endschema %}