{%- comment -%} Check authorization {%- endcomment -%}
{%- capture auth_result -%}
  {%- render 'ethossence-authorization',
    resource: page,
    authorization_enabled: section.settings.authoriz_enabled
  -%}
{%- endcapture -%}
{%- assign auth_result_clean = auth_result | strip -%}
{%- if auth_result_clean == 'true' -%}
  {%- assign display_content = true -%}
{%- else -%}
  {%- assign display_content = false -%}
{%- endif -%}


{{ 'section-main-page.css' | asset_url | stylesheet_tag }}
{{ 'ethossence-content-grid.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width section-{{ section.id }}-padding">
  {%- if section.settings.authoriz_enabled and display_content != true -%}
    <div class="rte">
      <p>{{ section.settings.authoriz_require_msg }}</p>
    </div>
  {%- else -%}
    {%- unless section.settings.hide_title -%}
      <h1 class="main-page-title page-title h0{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
        {{ page.title | escape }}
      </h1>
    {%- endunless -%}
    <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">

<pre>Testing 2:59pm</pre>

      {%- render 'ethossence-content-display',
        content: page.content
      -%}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "hide_title",
      "label": "Hide page title",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "Authorization settings"
    },
    {
      "type": "checkbox",
      "id": "authoriz_enabled",
      "default": false,
      "label": "Enforce authorization to view"
    },
    {
      "type": "richtext",
      "id": "authoriz_require_msg",
      "label": "Authorization required message",
      "info": "Message to display when authorization is required but not met"
    }
  ]
}
{% endschema %}
